.Navigation {
  align-items: center;
  background-color: #b1003d;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  height: 64px;
  justify-content: flex-end;
  position: fixed;
  width: 100%;
  z-index: 4;
}
.Icon {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 20px;
  cursor: pointer;
  fill: #ffffff;
  margin: 8px;
  padding: 8px;
  transition: 0.15s all cubic-bezier(0.4, 0, 0.2, 1);
}
.Icon:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.Reset {
  background: transparent;
  border: 0;
  outline: 0;
  padding: 0;
}
