.Textarea {
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.24);
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  font-size: 1rem;
  margin-top: 4px;
  padding: 12px 16px 14px;
}
